parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        # The PHPUnit base testcase is provided by symfony/phpunit-bridge.
        -
            message: '#^Class PHPUnit\\Framework\\TestCase not found\.$#'
            path: tests/*
