name: Unit tests

on:
  push:
    branches:
      - develop
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [7.0, 7.1, 7.2, 7.3, 7.4]
      fail-fast: true

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-node-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Install Composer dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Install PEAR
      run: |
        wget http://pear.php.net/go-pear.phar
        php go-pear.phar
        echo 'export PATH=/home/runner/pear/bin:$PATH' >>~/.bash_profile

    - name: Install Runkit7
      run: |
        sudo /home/runner/pear/bin/pear install channel://pecl.php.net/runkit7-alpha
        php -m | grep -q runkit7 || (echo -e "\033[0;31mRunkit7 was installed but not activated, aborting.\033[0;0m" && exit 1)


    - name: Run test suite
      run: composer test:unit
