name: Unit tests

on:
  push:
    branches:
      - develop
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [5.6, 7.0, 7.1, 7.2, 7.3, 7.4]
      fail-fast: true

    steps:
    - uses: actions/checkout@v2

    - name: Configure PHP environment
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: pecl
        extensions: runkit7-alpha

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php${{ matrix.php }}-composer-${{ hashFiles('**/composer.json') }}
        restore-keys: |
          ${{ runner.os }}-php${{ matrix.php }}-composer-

    - name: Remove PHPStan
      run: composer remove --dev szepeviktor/phpstan-wordpress --no-update

    - name: Install Composer dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer update --prefer-dist --no-progress --no-suggest

    - name: Run test suite
      run: composer test:unit
